<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="height: 100vh; display: flex; flex-direction: column; align-items: center; justify-content: center;">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRyl3KOobxh1qt0aLElLE6SnF1cFGZ8yo37w&s" alt="">
        <button onclick="window.location.href='/'">Pagina principal</button>
    </div>
    
</body>
</html>